/* Position and sizing of clickable cross button */
.bm-cross-button {
  @apply hidden;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  @apply fixed h-full;
}

/* General sidebar styles */
.bm-menu {
  @apply bg-zinc-800 px-6;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  @apply pt-20 text-gray-200;
}

/* Individual item */
a.bm-item,
.bm-list-heading {
  @apply mb-3 block text-2xl;
}

.bm-list-item {
  @apply mb-3 block text-xl text-zinc-400;
}

.bm-sublist-heading {
  @apply mb-2 block;
}

.bm-sublist {
  @apply pl-2;
}

.bm-sublist-item {
  @apply mb-2 block;
}

.bm-divider {
  @apply my-6;
}

.bm-social {
  @apply flex gap-3 text-xl text-zinc-400;
}

/* Styling of overlay */
.bm-overlay {
  @apply bg-zinc-900/30;
}
