.fc {
  th {
    text-align: left;
  }

  .fc-col-header-cell-cushion {
    padding: 0.3rem 0.5rem;
  }

  .fc-daygrid-day.fc-day-today {
    background-color: unset;

    .fc-daygrid-day-number {
      background-color: #26408b;
      border-radius: 999px;
      color: #e6e6e6;
    }
  }

  .fc-daygrid-day-top {
    flex-direction: row;
  }

  .fc-daygrid-day-number {
    padding: 0.3rem 0.5rem;
    color: #333333;
    margin: 5px;
  }

  .fc-toolbar-title {
    text-transform: capitalize;
    font-size: 1.5rem;
  }

  .fc-button {
    border-radius: 999px;
    border: 2px solid #e5e5e5;
    background: none;
    color: #222222;

    &:disabled {
      background: none;
      color: #999999;
      border: 2px solid #e5e5e5;
      cursor: not-allowed;
    }
  }
}

.fc-theme-standard th {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e5e5e5;
  background: #f1f1f1;
}

.fc-theme-standard td {
  border: 1px solid #e5e5e5;
}

.fc-h-event {
  border: none;
  border-radius: 0.2rem;
}

.fc-event-main {
  padding: 0.1rem 0.4rem;
}

.fc-event-title {
  font-weight: 500;
  @media (min-width: 769px) {
    overflow: unset;
  }
}

.fc-daygrid-event {
  @media (min-width: 769px) {
    white-space: break-spaces;
  }
}

.fc-list-event {
  &.hide {
    display: none;
  }
}

.fc-list-event-title {
  width: 100%;
}

.fc-list-event-time {
  display: none;
}

.table-head-fix {
  position: sticky;
  top: 0;
  z-index: 9;

  th {
    padding: 0.3rem 0.5rem;
    color: #333;
    cursor: default;
  }
}
