:root {
  --kim-display: block;
  --tre-display: block;
  --ipm-display: block;
  --sky-display: block;
  --tsuki-display: block;
  --amak-display: block;
  --uranix-display: block;
  --wingsbooks-display: block;
  --kim-display-list: table-row;
  --tre-display-list: table-row;
  --ipm-display-list: table-row;
  --sky-display-list: table-row;
  --tsuki-display-list: table-row;
  --amak-display-list: table-row;
  --uranix-display-list: table-row;
  --wingsbooks-display-list: table-row;
}

.kim {
  display: var(--kim-display);
}

.tre {
  display: var(--tre-display);
}

.ipm {
  display: var(--ipm-display);
}

.sky {
  display: var(--sky-display);
}

.tsuki {
  display: var(--tsuki-display);
}

.amak {
  display: var(--amak-display);
}

.uranix {
  display: var(--uranix-display);
}

.wingsbooks {
  display: var(--wingsbooks-display);
}

.kim-table {
  display: var(--kim-display-list);
}

.tre-table {
  display: var(--tre-display-list);
}

.ipm-table {
  display: var(--ipm-display-list);
}

.sky-table {
  display: var(--sky-display-list);
}

.tsuki-table {
  display: var(--tsuki-display-list);
}

.amak-table {
  display: var(--amak-display-list);
}

.uranix-table {
  display: var(--uranix-display-list);
}

.wingsbooks-table {
  display: var(--wingsbooks-display-list);
}

.fc {
    th {
      text-align: left;
    }
  
    .fc-col-header-cell-cushion {
      padding: 0.3rem 0.5rem;
      color: #333333;
    }
  
    .fc-daygrid-day.fc-day-today {
      background-color: unset;
  
      .fc-daygrid-day-number {
        background-color: #26408B;
        border-radius: 999px;
        color: #e6e6e6;
      }
    }
  
    .fc-daygrid-day-top {
      flex-direction: row;
    }
  
    .fc-daygrid-day-number {
      padding: 0.3rem 0.5rem;
      color: #333333;
      margin: 5px;
    }
  
    .fc-toolbar-title {
      text-transform: capitalize;
      font-size: 1.5rem;
    }
  
    .fc-button {
      border-radius: 999px;
      border: 2px solid #e5e5e5;
      background: none;
      color: #222222;
  
      &:disabled {
        background: none;
        color: #999999;
        border: 2px solid #e5e5e5;
        cursor: not-allowed;
      }
    }
  }
  
  .fc-theme-standard th {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    background: #f1f1f1;
  }
  
  .fc-theme-standard td {
    border: 1px solid #e5e5e5;
  }
  
  .fc-h-event {
    border: none;
    border-radius: 0.2rem;
  }
  
  .fc-event-main {
    padding-left: 0.5rem;
  }
  
  .fc-event-title {
    font-weight: 500;
  }
  
  .fc-list-event {
    &.hide {
      display: none;
    }
  }
  
  .fc-list-event-time {
    display: none;
  }