@media (prefers-color-scheme: dark) {
  body {
    background: #222;
  }

  .uk-navbar,
  .uk-alert,
  footer,
  .uk-card,
  .uk-modal-dialog {
    background: #333 !important;
  }

  html,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .uk-alert,
  .uk-button-text,
  .uk-active > a,
  .fc .fc-daygrid-day-number {
    color: #e6e6e6 !important;
  }

  .uk-grid-divider > :not(.uk-first-column)::before {
    border-left: 1px solid #444;
  }

  table,
  tr,
  .uk-card-footer,
  .fc-theme-standard td,
  .fc-theme-standard th,
  .fc-theme-standard .fc-list {
    border-color: #444 !important;
  }

  .fc-theme-standard th,
  .fc-theme-standard .fc-list-day-cushion,
  .fc .fc-cell-shaded,
  .fc .fc-day-disabled {
    background: #333 !important;
    color: #e6e6e6 !important;
  }

  .fc .fc-list-event:hover td {
    background-color: unset !important;
  }

  .fc .fc-button-primary:hover {
    background-color: #444;
    border-color: #444;
  }

  .fc .fc-button {
    color: #e6e6e6 !important;
  }
}
