@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit.woff") format("woff");
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Light.woff") format("woff");
  font-weight: 300;
}
