.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    font-weight: 900;
    text-transform: capitalize;
}

.flex {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  
    .flexBig {
      flex: 3;
    }
  
    .flexSmall {
      flex: 1;
      @media (min-width: 769px) {
        margin-left: 50px;
      }
      margin-bottom: 2rem;
    }
}

.social {
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes imageLoading {
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.modal {
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .image {
    max-width: 250px;

    @media (max-width: 768px) {
      max-width: unset;
    }

    img {
      width: 250px;
      height: 100%;
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: imageLoading;
      animation-timing-function: linear;
      background: darkgray;
      background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
      background-size: 800px 104px;
      position: relative;

      @media (max-width: 768px) {
        width: 100%;
        height: auto;
        min-height: 50vh;
      }
    }
  }
}

.iframe {
  border: 1px solid #e5e5e5;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #444;
  }
}

.filter {
  margin-bottom: 1rem;

  input[type="checkbox"] {
    display: none;

    & + span {
      transition: all 150ms ease;
    }

    &:not(:checked) + span {
      background: unset !important;
    }
  }
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}